<div class="card">
  <div class="card-header">
    <h1 class="">{{title}}</h1>
    <h2>{{code}}</h2>
  </div>
  <div class="card-body">
    <form action="/" method="post">
      <button type="submit" class="btn btn-primary">get</button>
    </form>
  </div>
</div>
