<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="shortcut icon" href="../../../assets/img/ico/favicon.ico" type="image/x-icon">
    <link rel="manifest" href="../../../assets/img/ico/site.webmanifest">
    <link rel="stylesheet" href="../../../assets/css/all.css">
    <link rel="stylesheet" href="../../../assets/css/core.css">
  </head>

  <body style="background-color: aliceblue;">
    <!--Main Navigation-->
    <header>
    </header>
    <!--Main Navigation-->

    <!--Main Content-->
    <main id="content">
      <section class="my-5">
        <div class="container">
          {{{body}}}
        </div>
      </section>
    </main>
    <!--Main Content-->

    <!--Main Footer-->
    <footer>
    </footer>
    <!--Main Footer-->
  </body>
  <script type="text/javascript" src="../../../assets/js/core.js"></script>
  <script type="text/javascript" src="../../../assets/js/module.js"></script>

</html>
